<div class="card py-4 h-100 ">
    <div class="card-body text-center">
      <i class="fa fa-suitcase text-secondary mb-2"></i>
      <h4 class="text-uppercase m-0">{{trip.name}}</h4>
      <div class="text-primary">{{trip.price}}zł</div>
      <div class="text-black">{{trip.limit-howManyLeft()}} places reserved</div>
      <hr class="my-4">
      <img class="img-thumbnail img-fluid" src="../../assets{{trip.imageSrc}}" />
      <div></div>
      <hr class="my-4">
      <div class="row justify-content-end">
         <button (click)="removeTripFromShoppingCart()" type="button" class="col-2 mx-2 btn btn-secondary">-</button>
         <button (click)="addTripToShoppingCart()" type="button" [disabled]="!howManyLeft()" class="col-2 mx-3 btn btn-primary">+</button>
      </div>
    </div>
  </div>
  