<section id='shopping-cart' class='trips p-5'>
  <div class="container">
    <div class="alert text-center">
      <strong [ngClass]="[countTripsInShoppingCart() > 10 ? 'text-success' : 'text-danger' ]">You have
        {{countTripsInShoppingCart()}} elements in your shopping cart</strong>
    </div>
    <div class="row mb-4">
      <div *ngFor="let trip of getUniqueTripsInShoppingCart()" class="col-md-6 mb-3 mb-md-0 mt-4">
        <app-trip-in-shopping-cart [trip]="trip" (removeTripEmitter)="removeTripFromShoppingCart($event)">
        </app-trip-in-shopping-cart>
      </div>
    </div>
    <div class="container">
      <button class="col-12 mb-md-0 btn btn-primary " (click)="orderTrips()">Book selected trips</button>
    </div>
  </div>
</section>