/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sniglet', cursive !important;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}